<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30000">
  	<setting label="30000" type="lsep"/>
    <setting id="choose_user" type="bool" label="30001" default="false" />
    <setting id="choose_notebook" type="bool" label="30003" default="true" />
  </category>
</settings>
